.container {
    margin-top: 20px;
    background-color: whitesmoke; 
    height: inherit;
    padding-bottom: 12px;
    border-radius: 0px 0px 5px 5px;
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
p{
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    background-color: black;
    display: list-item;
    padding-left: 16px;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 8px;
    list-style: none;
}

.btn-dark{
    margin-top: 8px;
    margin-left: 8px;
}

.btn-dark:hover{
    color: white;
}