
<div class="main-div">
    <button (click)="goHome()" class="btn btn-dark btn-lg"><span (click)="goHome()"  class="glyphicon glyphicon-arrow-left" ></span></button>
    <div class="mid-div">
        <nav class="well navbar">
            <h1>Delete</h1>
            <p>To close an existing account</p>
        </nav>
        <form #deleteForm="ngForm" (ngSubmit)="deleteAccount(account.value)">
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Enter Account Number</label>
                    <input type="text" required #account="ngModel" (keyup)="find(account.value)" (blur)="find(account.value)" [class.is-invalid]="account.invalid && account.touched" pattern="^[0-9]{10}$" class="form-control" placeholder="Account Number" name="accountNumber" ngModel>
                    <div *ngIf="account.errors && (account.invalid && account.touched)">
                        <small class="text-danger" *ngIf= "account.errors.required">Account number is required</small>
                        <small class="text-danger" *ngIf= "account.errors.pattern">Please mention 10 digit Account Number</small>
                    </div>
                    <div *ngIf="account.valid">
                        <small class="text-danger">{{error.data}}</small>
                    </div>
                    <div class="form-row" *ngIf=isPresent>
                        <div class="col-md-12">
                            <br>
                            <label>Existing Name</label>
                            <input type="text" class="form-control" [disabled]=true value="{{userAccount.accountHolderName}}">
                        </div>
                    </div>
                    <br>
                   <button class="btn btn-primary"  [disabled]="deleteForm.form.invalid || isDisabled">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>