<div>
<header class="jumbotron  text-center">
  <h1>Welcome To Loan Management</h1>

</header>
<nav class="navbar navbar-default navbar-fixed-top" class="container-fluid" style="background-color:lavender;">
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" routerLink="Home">Home </a></li>
        <li><a routerLinkActive="active" routerLink="loanrequests">Loan Request</a></li>
        
       
                <li><a  routerLinkActive="routerLinkActive"  routerLink="loanLedger">View Ledger Data</a></li>
                 <li><a routerLinkActive="routerLinkActive"  routerLink="ledgerbyaccount">Search Ledger Data</a></li> 
        
      </ul>
  </nav>

</div>
<router-outlet></router-outlet>