<div class="main-div">
    <div class="mid-div">
        <nav class="well navbar">
            <h1>Pecunia Bank</h1>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Create Account</h2>
                            <p class="card-text">To create a new account of a customer</p>
                            <a routerLink="/create" class="btn btn-primary">Create Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Update Account</h2>
                            <p class="card-text">To Update existing information of customer</p>
                            <a routerLink="/update" class="btn btn-primary">Update Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">    
                <div class="col-lg-6">
                   <div class="card">
                       <div class="card-body">
                           <h2 class="card-title">Delete Account</h2>
                           <p class="card-text">To close an existing account</p>
                           <a routerLink="/delete" class="btn btn-primary">Delete Account</a>
                       </div>
                   </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">View Accounts</h2>
                            <p class="card-text">To View All Data from database</p>
                            <a routerLink="/show" class="btn btn-primary">View Accounts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>