<div class="view intro hm-purple-light" style="">
    <div class="full-bg-img flex-center">
        <div class="fadeInUp flex-center">
             <div class="container login-form-2" >
                <div class="row" style="text-align: center;">
                      <div class="col-md-12 ">
                        <div>
                
                            <div>
                                <h1>ADD EMPLOYEE DETAILS</h1>
                                <div class="row ">
                                    <div class="col-md-6">
                                      
                                        <div class="form-group">
                                            <label for="Type">First Name</label>
                                            <input required  [(ngModel)]="first_name" pattern="([a-zA-Z]{3,30}\s*)+" type="text" class="form-control" placeholder="First Name *" #fnameControl="ngModel" />
                                            <p *ngIf="!fnameControl.valid && fnameControl.touched" style="color: red;">*First Name is required </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="Type">Branch Id</label>
                                            <select class="form-control" required  [(ngModel)]="branchId" placeholder="Branch Id *" #branchControl="ngModel" >
                                                <option class="hidden" disabled selected>Branch Id *</option>
                                                <option>118001</option>
                                                <option>118002</option>
                                                <option>118003</option>
                                                <option>118004</option>
                                                <option>118005</option>
                                            </select>
                                            <p *ngIf="!branchControl.valid && branchControl.touched" style="color: red;">*Branch Id is required </p>
                                        </div>
                                        <div class="form-group">
                               `     <label for="Type">DOB</label>
                                            <input type="date" (change)="getAge(dob)" class="form-control" id = "dob" required [(ngModel)]="dob"  placeholder=" Date of Birth *" #dobControl="ngModel">
                                            <p *ngIf="!dobControl.valid && dobControl.touched" style="color: red;">*DOB is required </p>
                                            </div>
                                     
                                       
                                        
                                        <div class="form-group "  style="text-align: justify;"> 
                                        
                                          <label class="radio inline "> 
                                                        <input type="radio" name="gender" value="male"  checked [(ngModel)]='gender' style="height:35px; width:35px; vertical-align: middle;">
                                                        <span>Male</span> 
                                                    </label>
                                                    
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="female"  [(ngModel)]='gender' style="height:35px; width:35px; vertical-align: middle;">
                                                        <span>Female</span> 
                                                    </label>
                                                </div>

                                                
                                                          
                                    
                                        
                                        <div class="form-group">
                                            <label for="Type">Adhar Number</label>
                                            <input required  [(ngModel)]="adhar" type="text" minlength="12" maxlength="12" pattern="[0-9]{12}" name="txtEmpAdhar" class="form-control" placeholder="Employee Adhaar *" #adharControl="ngModel" />
                                            <p *ngIf="!adharControl.valid && adharControl.touched" style="color: red;">*Adhar is required </p>
                                        </div>
                                        <div class="form-group " >
                                            <label for="Type">PAN Number</label>
                                            <input required  [(ngModel)]="pan" type="text" minlength="10" maxlength="10" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" class="form-control" placeholder="PAN No. *" #panControl="ngModel" />
                                            <p *ngIf="!panControl.valid && panControl.touched" style="color: red;">*PAN is required </p>
                                        </div> 
                                       


                                      
                               </div>
                                                         

                                  
                                    <div class="col-md-6">
                                    
                                        <div class="form-group">
                                            <label for="Type">Last Name</label>
                                            <input required  [(ngModel)]="last_name" type="text"  pattern="[a-zA-Z]{3,30}"  class="form-control" placeholder="Last Name *" #lnameControl="ngModel" />
                                            <p *ngIf="!lnameControl.valid && lnameControl.touched" style="color: red;">*Last Name is required </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="Type">Mobile Number</label>
                                            <input required  [(ngModel)]="phone" type="text" minlength="10" maxlength="10" pattern="[0-9]{10}" class="form-control" placeholder="Employee Mobile Number *" #phoneControl="ngModel" />
                                            <p *ngIf="!phoneControl.valid && phoneControl.touched" style="color: red;">*Mobile No. is required </p>
                                        </div>
                                        
                                       
                                       
                                        <div class="form-group">
                                            <label for="Type">Age</label>
                                            <input required  [(ngModel)]="age" type="text" [value]="age" class="form-control" placeholder="Age" #ageControl="ngModel" disabled />
                                            <p *ngIf="!ageControl.valid && ageControl.touched" style="color: red;">*Age is required </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="Type">Street Name</label>
                                            <input required  [(ngModel)]="street" type="text" minlength="10" maxlength="250" class="form-control" placeholder="Street Name *" #streetControl="ngModel" />
                                            <p *ngIf="!streetControl.valid && streetControl.touched" style="color: red;">*Street Name is required </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="Type">City Name</label>
                                            <input required  [(ngModel)]="city" type="text" minlength="3" maxlength="50"  class="form-control" placeholder="City Name *" #cityControl="ngModel" />
                                            <p *ngIf="!cityControl.valid && cityControl.touched" style="color: red;">*City Name is required </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="Type">State Name</label>
                                            <input required  [(ngModel)]="state" type="text" minlength="3" maxlength="50"  class="form-control" placeholder="State Name *" #stateControl="ngModel" />
                                            <p *ngIf="!stateControl.valid && stateControl.touched" style="color: red;">*State name is required </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="Type">Postal Code</label>
                                            <input required  [(ngModel)]="zipcode" type="text" minlength="6" maxlength="6" pattern="^[1-9][0-9]{5}$"  class="form-control" placeholder="Zip Code *" #zipControl="ngModel" />
                                            <p *ngIf="!zipControl.valid && zipControl.touched" style="color: red;">*Zipcode is required </p>
                                        </div>
                                      
                                        
                                    </div>
                                    
                                </div>
                                 
                                                                
                             
                             <input  type="submit" class="btnRegister"  (click)="addEmployee()"/>
           
                           
                     
          
    
           </div>

</div>
</div>
</div>
</div>
</div>
</div>

<footer class="page-footer font-small unique-color-dark">

    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">with ♥ @pranavsinha17</a>
    </div>
    <!-- Copyright -->
    
    </footer>